Source: ros-groovy-smd-wifi-monitor
Section: misc
Priority: extra
Maintainer: Scott K Logan <logans@cottsay.net>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin,ros-groovy-roscpp,ros-groovy-pluginlib,ros-groovy-std-msgs,ros-groovy-diagnostic-updater,ros-groovy-message-generation,libnl-3-dev,ros-groovy-nodelet
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-smd-wifi-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-pluginlib,ros-groovy-roscpp,ros-groovy-gencpp,ros-groovy-message-runtime,ros-groovy-std-msgs,ros-groovy-diagnostic-updater,libnl-3-200,ros-groovy-nodelet
Description: ROS device monitor for nl80211-compatible wireless NICs
